body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(47, 47, 245);
  font-family: Arial, sans-serif;
}

.traffic-light-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traffic-light {
  background: rgb(65, 85, 65);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(61, 39, 39);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
  transition: background 0.11s, box-shadow 0.5s;
}

#red.active {
  background: red;
  box-shadow: 0 0 30px red;
}

#yellow.active {
  background: yellow;
  box-shadow: 0 0 30px yellow;
}

#green.active {
  background: rgb(46, 179, 46);
  box-shadow: 0 0 30px limegreen;
}

.pole {
  width: 50px;
  height: 200px;
  background: rgb(38, 63, 38);
  margin-top: 0px;
  box-shadow: inset 0 0 5px rgba(85, 82, 82, 0.6);
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid antiquewhite;
  border-radius: 8px;
  background: rgb(93, 93, 155);
  color: rgb(172, 135, 135);
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: rgb(86, 95, 117);
}
